/*
CSS for Markdown Document Renderer
======================================
The stylesheet code must conform to the W3C/CSS Specs. (https://www.w3.org/Style/CSS/)
It's recommended that you first create a backup of the stylesheet code before making modifications.
*/

body, table {
	font-family: sans-serif;
	font-size: 1em;
	line-height: 150%;
}

table {
	border-collapse: collapse;
	border: 1px solid gray;
	border-width: 2px 1px 2px 1px;
	border-spacing: 0;
	font-size: 0.85em;
}

th {
	border: 1px solid gray;
	padding: 4px;
	background-color: #ddd;
}

td {
	border: 1px solid gray;
	padding: 4px;
}

tr:nth-child(2n) {
	background-color: #f8f8f8;
}

blockquote {
	margin-left: 1em;
	border-left: 6px solid #ddd;
	padding-left: 3px;
	color: #777;
}

pre {
	border: 2px solid #d6d6d6;
	padding: 4px;
	border-radius: 7px;
	background: lightgrey;
}

code {
	font-family: "Monaco", "Consolas", "Monospace", "Courier New", "Courier";
	font-size: 0.85em;
}

a {
	color: #0366d6;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

hr {
	border: 0;
	border-bottom: 1px solid #ddd;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}

h6 {
	font-size: 1em;
}
